<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- タイトル -->
	    <title>管理者</title>
	    <!-- エンコード -->
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body>
		<header th:fragment="headerFragment">
		
			<div class="container">
	            <div class="header-top">
                   <h1>
	                  <a th:href="@{/admin/top}">GoodsBuy</a>
	               </h1>
                </div>
                
                <div class="menu-icon">
	                    <h2>管理者</h2>
	            </div>
	            <nav>
	                
	                <ul class="nav-links">

						<li><a th:href="@{/admin/edit_goods} + '?id=0'">新規投稿</a></li>
						<li><a th:href="@{/admin/edit_goods_genre} + '?id=0'">商品ジャンル</a></li>
						<li>
					        <a th:href="@{/logout}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">ログアウト</a>
					        <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
					            <input type="hidden">
					        </form>
					    </li>
	                </ul>
	            </nav>
	        </div>
		
		</header>
		
		<footer th:fragment="footerFragment">
		
		</footer>	
	</body>
</html>