<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- タイトル -->
	    <title>商品一覧</title>
	    <!-- エンコード -->
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    
	    <!-- css -->
		<link rel="stylesheet" th:href="@{/css/common.css}">
		<link th:href="@{/css/goods/all_goods.css}" rel="stylesheet">
		
		<!-- JS -->
	<script type="text/javascript" th:src="@{/javascript/jquery-3.6.2.min.js}"></script>
	<script type="text/javascript" th:src="@{/javascript/common.js}"></script>
	<script type="text/javascript" th:src="@{/javascript/goods/all_goods.js}"></script>
	
	</head>
	
	<body>
	
		<div th:replace="admin/common :: headerFragment"></div>
		
		<main>
			
			<div class="goods-area">
			
				<h1>商品一覧</h1>
				
				<div class="table-area">
				
					<table th:if="${goodsAll} != null">
					
						<thead>
							<tr>
								<th>商品名</th>
								<th>ジャンル</th>
								<th>在庫</th>
								<th>購入数</th>
								<th>最大購入数</th>
								<th>税込み価格</th>
								<th>投稿日時</th>
								<th>更新日時</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						
						<tbody>
							<tr th:each="goods : ${goodsAll}">
								<!-- 商品名 -->
								<td>
									<a class="show-link" th:href="@{'/admin/goods/' + ${goods.goodsName}}">
										<span th:text="${goods.goodsName}"></span>
									</a>
								</td>
								<!-- ジャンル -->
								<td><span th:text="${goods.genreName}"></span></td>
								<!-- 在庫数 -->
								<td><span th:text="${goods.stock}"></span></td>
								<!-- 購入数 -->
								<td><span th:text="${goods.buyNum}"></span></td>
								<!-- 最大購入数 -->
								<td><span th:text="${goods.maxBuy}"></span></td>
								<!-- 税込み価格 -->
								<td><span th:text="${goods.taxPrice}"></span></td>
								<!-- 投稿日時 -->
								<td th:if="${goods.SNewDateTime} != null">
									<span th:text="${goods.SNewDateTime}"></span>
								</td>
								<!-- 投稿更新日時 -->
								<td >
									<span th:text="${goods.SEditDateTime}" th:if="${goods.SEditDateTime} != null"></span>
								</td>
								<!-- 商品編集ボタン -->
								<td>
									<a class="edit-link" th:href="@{/admin/edit_goods(id=${goods.id})}">
										<button type="button">編集</button>
									</a>
								</td>
								<!-- 商品削除 -->
								<td>
									<a class="delete" th:href="@{'/admin/delete_goods/ '+ ${goods.id}}"
									 onclick="return confirm('削除してもよろしいですか？')">
										<button type="button">削除</button>
									</a>
								</td>
							</tr>
						</tbody>
						
					</table>
					
					<div class="goods-null" th:if="${goodsAll} == null">
						<h2>商品が存在しません</h2>
					</div>
				
				</div>
			
			</div>
			
				
		</main>
		
		<div th:replace="common :: footerFragment"></div>
		
	</body>
</html>